# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Data (large, not version controlled)
data/raw/
data/fastf1_cache/
data/processed/

# MLflow
mlartifacts/
mlflow.db

# Dagster
.dagster/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
