# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# MLflow
mlartifacts/
mlflow.db

# Dagster
.dagster/
.tmp_dagster_home_*/

# Feast
data/feast/
*.registry.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
